body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.clothes-section {
    padding: 20px;
}

.clothes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clothes-item {
    margin: 10px;
    text-align: center;
}

.buy-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.buy-button:active {
    opacity: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
